.container{
  width: 100%;
  /* flex: 1; */
  display: flex;
  margin: 0;
}

.main{
  width: 80%;
  height: 100vh;
  background-color: E8F1FE;
  /*border: 8px solid black;*/
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.side{
  width: 20%;
  height: 100vh;
  background-color: E8F1FE;
/*     border: 5px solid black; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

/* ::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s;
} */

/* .scroll:hover::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.1);  
} */

::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
}

.scroll{
  height: auto;
  overflow-y: scroll;
}

body{
  height: 100vh;
  margin: 0;
}

header{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  height: auto;
  overflow: hidden;
  background: #d0eaef;
}

footer{
  height: auto;
  overflow: hidden;
  background: #d0eaef;
  margin: 0;
}

p{
  text-indent: 1em;
  margin: 0;
  padding: 0;
}

h2{
  margin-bottom: 0;
  padding: 0;
}

ul, ol{
  margin-top: 0;
}