.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.body{
  width: 80%;
  height: auto;
  background-color: E8F1FE;
  /*border: 8px solid black;*/
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll
  border-radius: 40px;
}

.side{
  width: 20%;
  height: auto;
  background-color: E8F1FE;
/*     border: 5px solid black; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll
  border-radius: 40px;
}

p{
  text-indent: 1em;
  margin: 0;
  padding: 0;
}

h2{
  margin-bottom: 0;
  padding: 0;
}

ul, ol{
  margin-top: 0;
}