.container {
    width: 100%;
    height: min-height: 100vh;
    display: flex;
  }
.body {
    width: 80%;
    height: auto;
    background-color: rgb(240, 255, 255);
    /*border: 8px solid black;*/
    margin-left:10px;
  }
.side {
    width: 20%;
    height: auto;
    background-color: rgb(240, 255, 255);
    border: 5px solid black;
  }
